.bold{
  font-weight: bold;
}
div.container-center{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.home{
  div.card-center{
    position: relative;
    padding: 0px 5px 5px 5px;
    div.content-img{
      display: flex;
      justify-content: center;
      padding: 0 0 0 70px;
      img{
        width: 100%;
        display: block;
      }
    }
  }
  div.card-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div.short-info{
    display: flex;
    justify-content: space-between;
  }
  div.menu{
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
/******************************DARK*********************************/
html.dark {
  /* custom dark bg color */
  --el-bg-color: #626aef;
}